name: CI

on: push

jobs:
  tests:
      strategy:
        fail-fast: false
        matrix:
          os: [ubuntu-20.04, ubuntu-22.04]
          ruby: [ 2.7, 3.0, 3.1 ]

      runs-on: ${{ matrix.os }}

      name: ${{ matrix.os }} - ${{ matrix.ruby }}

      steps:
        - uses: actions/checkout@v3
        - uses: ruby/setup-ruby@v1
          with:
            ruby-version: ${{ matrix.ruby }}
            bundler-cache: true

        - name: Run specs
          run: bundle exec rspec
